@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #b7f2cc;
  background-image: linear-gradient(315deg, #75c490 0%, #2b90d8 100%);
  font-family: 'Rajdhani', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}